[COMMON]
#日志级别
LOG_LEVEL=2

#日志大小，单个日志文件容量，单位字节，默认5242880，即5兆(1024*1024*5)
LOG_FILE_SIZE=
# 指定滚动文件的个数，默认50
##  当MyLog存满时，将其名称更改为MyLog.1，再新建一个MyLog文件来存储新的日志
##  再次存满时，把MyLog.1改名为MyLog.2，MyLog改名为MyLog.1，新建一个MyLog来存放新的日志
##  配置为几，就可以有几个MyLog文件用来滚动
LOG_FILE_NUM=

#是否启动时将日志打印到屏幕
SHOW_CONSOLE=1

# 1从PCC_SYSTEM_PARAM表加载,0默认从SYSTEM_PARAM表加载数据
FROM_PCC_SYS_TABL=1

#831404  
#配置需要忽略的Oracle错误,目前只允许配置1个  
#密码将要过期，配置 ORA-28002 
ORA_ERROR_IGNORE=ORA-28002

#鏈?鍦版敮鎸丷esetfulAPI service绔?鍙ｈ?剧疆锛岄粯璁や娇鐢?8080绔?鍙?
RESETFUL_API_PORT= 8081 

[Diameter]  
#检查Diameter Request AVP中的Flag字段，是否包含与XML配置文件中不符的AVP 
#如果有则返回Diameter Response，Result-Code=3009，Failed-AVP中携带错误的AVP
CheckInvalidAVPBits = 0 
#检查Diameter Request 中的Flag位‘M’的AVP，是否在XML中包含对其的解析逻辑  
#如果没有则返回Diameter Response，Result-Code=5001，Failed-AVP中携带错误的AVP 
CheckAVPUnsupported = 1 
#XML文件中ApperencePolicy配置说明： 
#ApperencePolicy包含4位，如“MMMM”，“NNNN”，其中四位依次表示鉴权请求，记账初始请求，记账更新请求，记账结束请求 
#针对XML配置中ApperencePolicy位‘M’的AVP，检查Diameter Request 中是否包含该AVP  
#如果不包含则返回Diameter Response，Result-Code=5005，Failed-AVP中携带错误的AVP  
CheckMissingAVP     = 1 
#针对XML配置中ApperencePolicy位‘N’的AVP，检查Diameter Request 中是否包含该AVP  
#如果包含则返回Diameter Response，Result-Code=5008，Failed-AVP中携带错误的AVP 
CheckAVPNotAllowed  = 1 

[PCRF_INFO]

MDB_ACCESS_MODE = 2

ERROR_TRIGGER_EVENT_ENABLE = 1

#鍒嗘嫞ID锛屼笉閰嶇疆榛樿?や负1
WORK_GROUP_ID= 2333
 #320
 
#发起方主机及域信息， 即PCRF 侧的信息， 对应于OLC/PHUB 侧的[OCS] 下信息 
#$#PCRF节点信息，各参考点，PCRF自身标识
ORIGIN_HOST=pcrf.zte.com.cn
ORIGIN_REALM=zte.com.cn 

#对端主机及域信息，临时实现方案  
#$# EXPIRED -- 通过 pcc_dis_table_seg 查找
DEST_HOST=h.pcrf.zte.com.cn
DEST_REALM=zte.com.cn

#配置当前PCRF所在国家的MNC和所属运营商的MCC信息 
#$#S9接口
PCRF_MNC=
PCRF_MCC=

#开启OLC/PHUB与CCA消息Origin映射关系，0表示不开启，当>0时，则读取SPEC_MODULE_INFOx  
#SPEC_ORIGIN_HOSTx以及SPEC_ORIGIN_REALMx  
SPEC_ORIGIN_INFO_COUNT=0
#OLC/PHUB的模块号和局向号， 当PCRF接收到来自这个PHUB的消息时
#响应CCA消息中的OriginHost和OriginRealm使用对应的SPEC_ORIGIN_HOST和SPEC_ORIGIN_REALM
SPEC_MODULE_INFO1=179,16
SPEC_ORIGIN_HOST1=pcrf.zte.com.cn
SPEC_ORIGIN_REALM1=zte.com.cn 

#此配置定与OLC侧的EmergencyService.EmergencyMDN保持一致  
EMERGENCY_MDN = 9999999999999 

REDIRECT_VALIDITY_TIME=300  #重定向的有效时间

#分拣节点RuleDecision中是否开启话单生成功能, 0:关闭; 非0:开启; 不配默认为开启 
NEED_CREATE_CDR=1 

#$#话单生成 
GEN_TIMING_CDR_INTERVAL=1800  #定时生成策略和流量话单的时间间隔，单位为秒  

SEND_RAR_RULE=1 # 0:下发RAR不带规则信息，由PCEF重新上报CCR-U判断。1:下发RAR带规则信息，PCEF直接装在RAR中得规则信息

SET_RT_TYPE = 1 #设置RT(RevalidationTime)时间方式,为1时取多个时间值的最小值，为0时:当前时间+固定时间范围 

#默认的承载策略下发模式，mode取值为: 1 ---3G，非LTE模式，下发到QoS-Information,此为默认下发模式 ；  2---4G，LTE模式 ，下发到Default-EPS-Bearer-QoS 
VENDOR_BEARER_MODE_DEFAULT = 1   
#vendor对应的承载策略下发模式: OriginHost1-mode1; OriginHost2-mode2; ... ; OriginHost为对端pcef的OriginHost，mode的取值见上面VENDOR_BEARER_MODE_DEFAULT的描述。  最多支持16个配置对.
VENDOR_BEARER_MODE_LIST = pcef1.zte.com.cn-1;pcef2.zte.com.cn-2

#Supported-Features中支持下发的Feature-List .目前支持的Feature bit是01001111(对应十进制为79)。对应的bit位为1的话，则表示支持该Feature  
SUPPORTED_FEATURE_LIST = 79

#用户没有PCR_PLAN(没有订购的PCR_PLAN同时SPR/OCS侧默认、系统套餐包在PCRF 
侧未配置)的处理方法: 为0时，所有应答包都返回5031。为1时，所有应答包都为2001.  
NO_PCR_PLAN_TYPE= 0  

#CCR消息中多[Subscription-Id]情况下，[Subscription-Id-Type]的优先级列表，优先级最高的那个作为用户号码去查询资料，比如配置为(3,0,1,2,4)。不配置的话默认为(0,1,2,3,4)  
USER_TYPE_PRIORITY = 

#SLA的等待时间，如果在此等待时间内新来一个CCR-I，那么程序不会发送新的SLR，如果超过了等待时间新来一个CCR-I，那么会发送新的SLR  
#单位为秒，不配置的话默认为1  
#$#SySp配置 
SLA_WAIT_TIME = 3 

#定时重发SLR的时间间隔，在用户资料已经获取齐全的情况下，上报的CCR-I/CCR-U与上次发送SLR的时间间隔超过RESEND_SLR_TIME的话，  
#程序就会重新发送SLR-U去请求新资料。单位为秒，不配置的话默认为0，即不定时重新发送SLR
#$#SySp配置 
RESEND_SLR_TIME = 30


#新创建一个Gx会话时，是否重新发送SLR消息的时间间隔。  
#在用户资料已经获取齐全的情况下，上报的CCR-I与上次发送SLR的时间间隔超过CCRI_RESEND_SLR_TIME的话，则重新发送SLR-U  
去请求新资料。单位为秒，不配置的话默认为0，即不定时重发SLR  
#$#SySp配置 
CCRI_RESEND_SLR_TIME= 


#跨天重发SLR的开关，在用户资料已经获取齐全的情况下，上报的CCR-I/CCR-U
与上次发送SLR的时间不在同一天（即用户资料是昨天获取的）， #程序就会重新发送SLR
-U去请求新资料。取值： 1---打开   0---关闭。不配置的话默认为0  
#$#SySp配置 
NEXT_DAY_RESEND_SLR = 0

#是否需要下发非监控策略对应的GSU，0--表示不需要监控, 1--表示使用对应的预留规则下发GSU监控,   
#n(n>1)--表示使用nKB下发GSU监控  
GSU_FOR_NO_MONITOR_RULE = 1

#ADD_BILLING_NBR_CELL_ID用于控制SLR消息中是否下发BILLING_NBR_CELL_ID属性，1：下发；0：不下发，不配置默认为不下发该属性; 
#$#SySp配置 
ADD_BILLING_NBR_CELL_ID =  
#BILLING_NBR_CELL_ID为下发给OCS的CELL_ID标识，目前处理方式是跟OCS协商后写死
#$#SySp配置 
BILLING_NBR_CELL_ID =   

#重定向的AVP下发模式，取值：0---ISG下发模式，下发到[Final-Unit-Indication]   1---3Gpp规范下发模式，下发到[Redirect-Information]，默认为0  
REDIRECTION_MODE =   

#PCRF主机对应的ROUTING_ID信息， 前台用这个ROUTING_ID找到本PCRF主机
#$#SYSP配置 
ROUTING_ID =

#入库进程一次性扫描的文件个数，默认100 
FILE_SCAN_NUM=100    

#计算使用时间时，流量小于配置的值，该时段不计入使用时长.若不配置或配置成小于0的值都按照0值处理  
MIN_BYTES_FOR_DURATION = 20   

#累加器的计算方式：1--四舍五入  2--向上取整   3--向下截断  4--支持残余量处理，每次计算的残余量会在下次累加计算时进行累积
ACMCalcMethod=4

#以秒为单位，可以为负值， RT时间在需要随机化的时候会在这个范围进行随机化, X<Y 
RandomTimeRange = 180,1800

#独立模式下当第四个balid开始扣费产生话单开关,默认为0,不开启;1开启.
#$#话单生成 - 异常会话， 扣费话单
GEN_CDR_BY_USED_BAL_NUM = 1

#在处理AAR消息时，是否重复下发策略，0:不重复，1:重复。ZMP:749741  
RX_REINSTALL_RULE_TYPE = 1 

#初始包是否产生话单, 0表示不产生初始包的话单， 1表示产生初始包的话单， 默认为1
#$#话单生成 
CreateCDRInit = 1 

#产生话单需要的上线的时长，单位为秒，  0表示此配置项无效， > 0 结束包时，  
#判断当前的会话上线时长大于等于该值，如是则产生，否则不产生话单， 默认值为0
#$#话单生成 
CreateCDROnline = 0  

#是否检查多个会话有相同的IP地址。根据配置方式来决定是否将前一个用户的踢下线。 
#配置为0时，不检查，配置为1时，只检查IP是否相同，配置为2，检查IP和APN
#配置为3时，检查IP和MDN是否都相同
#是否都相同。默认值为0  
CHECK_APN_IP_MODE = 0

#配置静态策略Monitoring-Key下发，0:不下发; 1:编码到Charging-Rule-Install下;
#不配或配置成非1默认不下发 
Predefined_Rule_Install_MK =  

#配置静态策略Precedence下发，0:不下发; 1:编码到Charging-Rule-Install下; 
#不配或配置成非1默认不下发 
Predefined_Rule_Install_Precedence =   

#没有取到用户资料但正常下发策略的情况下(SPR侧的App.config配置文件中的NO_USER_INFO_TYPE = 1时)
#是否生成策略话单的单处理方法:为1时，生成策略话单；为2时，不生成  
#$#话单生成 
NO_USER_INFO_CDR_TYPE = 1  

#CCA/RAR当有策略下发时，如果配置了默认承载策略，当承载策略没有发生变化时
#1表示下发默认承载策略，0表示不下发， 按原逻辑；默认为0  
REINSTALL_BEARER_RULE = 0  

#相同RG，SI的策略是否选择最高优先级的下发 
#1 是； 0 否
USING_TOP_RG_SI_RULE = 0

#是否按策略计划优先级执行策略,0 不按，大于0 按，默认为0  
EXCT_PCR_PLAN_BY_PRIORITY = 1 

#融合模式下，是否下发所有策略，包括系统、默认、个性化策略
#1表示下发所有策略，0表示按照个性化策略计划 > 默认策略计划 > 系统策略计划, 这三个阶梯优先级上只要找到有效的策略计划信息， 则不再找低优先级的策略计划。默认值为0
SEND_ALL_PCC_RULE = 1


#挂起Gx会话超时时间，范围[20, 30],默认20秒
PENDING_TIME_OUT = 20

#是否加密用户号码，Y 加密， N 不加密; 默认为Y,加密 
IF_ENCRYPT_USERNAME =  Y

#GetBalanceByAcctResId中获取余额的标志，默认是为0表示有余额时，获取到的值为正,为其他值时有余额时，获取值为负。 
GetBalanceSymbolFlag = 0

#GxxFollowGx Gxx是否走Gx流程, 0-不走 , 1-Gxx走Gx流程, 默认为1  
#此配置项与PHUB侧service_dcc_pcc_pcrf.ini中保持一致
GxxFollowGx = 1
 

#是否为无资料用户继续下发策略，Y:下发；N:不下发  默认为N，不下发  
NO_USER_INFO_ENABLED = N

ENABLE_ONLINE_BLOCK = 0

ONLINE_BLOCK_INTERVAL = 300

ONLINE_BLOCK_SESSION_DURATION = 5

ONLINE_BLOCK_OCCURRENCE = 2

V81OCS_USE_POLICY_COUNTER_E = Y

#短信通知相关配置项  
[ADVICE_MODULE]
#通知模式, 0-contact模式；1-cic模式, 默认1
IS_CONTACT_OR_CIC=
#是否开启短信通知功能, Y-开启(默认)；N-关闭  
OPEN_CREATE_ADVICE= N  
#重定向功能是否开启根据设备类型来过滤, Y-开启；N-关闭(默认) 
OPEN_REDIRECTION_EQUIPMENT_FILTER=  

[AOC_MESSAGE]  
SOCKET_HOST=      #必选配置 UIP的SOCKET服务IP地址 长链接 
SOCKET_PORT=      #必选配置 UIP的SOCKET服务IP端口  
LOGIN_USER=    #必选配置 登录用户名---------和前台协定
LOGIN_PWD=      #必选配置 登录密码---------和前台协定 
HEART_TIME=    #必选配置 发送心跳间隔  
HEART_THRESHOLD =    #必选配置 心跳次数超过此数据没有返回的话，断开链路，程序退出。 
SCAN_INTERVAL =      #扫描短信库间隔，单位秒 不配默认为5s
CONNECT_CHANNEL=  #通知通道 1: Socket(Default)  2: ZSmartMQ 
   
[ADR_MESSAGE]  
#短信发送进程DealAdrMessage的相关配置，暂时没用到  
MAX_MSG_COUNT=100000 
SOCKET_HOST=10.45.7.183 
SOCKET_PORT=9901  
LOGIN_USER=super  
LOGIN_PWD=1 
HEART_TIME=30  
HEART_THRESHOLD=10

[ReportGen] 
REPORTGEN_OUTPUT_PATH=/home/pcrf90perf/ReportGenDir  

[PCDRGEN]
FILE_NAME_CP_NUMBER=020 
#必选配置，设置话单文件名的PCRF系统编号
FILE_NAME_SEQ_LEN =10
#必选配置，用于设置话单文件名的序列号长度,默认值为10  
CDRGEN_WORK_PATH=/home/pcrf90perf/data/work
#必选配置，设置话单生成程序话单文件的临时操作目录；
CDRGEN_OUTPUT_PATH=/home/pcrf90perf/data/output  
#必选配置，设置话单生成程序话单文件的输出目录； 
CREATE_TIME=300
#必选配置，生成话单间隔(秒)
CREATE_PERIOD=1000
#必选配置，生成话单间隔(条)
EventFailPath=/home/pcrf90perf/data/failure/  
#必选配置，不能发送出去的话单写入该目录，必须是和PDE程序在同一个文件系统
PAID_TYPE_ENABLED=
#可选配置，是否按照用户付费类型:(prepaid,postpaid,hybrid)
#将话单分别生成到不同的目录中，取值：0 不按照付费类型; 1  按照付费类型. 默认为0  
Standby1Pno=255
#可选配置，备用进程1，PDE在向启动参数中指定的话单生成进程发送消息失败的时候，把消息发给备用进程 
Standby2Pno=257
#可选配置，备用进程2，PDE在失败的情况下，会交替的向备用进程发送
CDRGEN_FAIL_OUTPUT_FLAG=1  
#可选配置，默认0，当pdr_writer写话单失败时是否输出发送至该进程的消息内容 0：不输出，1：输出  
CDRGEN_FAIL_PATH=/home/pcrf90perf/data/output/fail  
#可选配置，当CDRGEN_FAIL_OUTPUT_FLAG配置文1时，写发送至该进程的消息内容至该目录中
CDRGEN_FAIL_OUTPUT_INTERVAL=300  
#可选配置，当CDRGEN_FAIL_OUTPUT_FLAG配置文1时，生成消息记录文件间隔(秒) 
CDRGEN_FAIL_OUTPUT_MAX_COUNT=10000  
#可选配置，当CDRGEN_FAIL_OUTPUT_FLAG配置文1时，生成消息记录文件间隔(条) 
BULK_OPERATION_MAX_COUNT_FOR_MYSQL=10  
#MYSQL版本配置项，不配默认为1，用来控制每次话单批量插入MYSQL的最大数，相当于Oracle的SetParamArray  

#[ABNSESSIONMGR]是AbnSessionMgr的相关配置 
[ABNSESSIONMGR]
#异常会话进程生成话单文件路径 
ABN_CDR_WORK_PATH=/home/pcrf90perf/data/abnormal_cdr/work 
ABN_CDR_OUTPUT_PATH=/home/pcrf90perf/data/abnormal_cdr/output
#扫描时间间隔，单位秒
TIME_INTERVAL = 60
#异常会话处理模式，0-将reserve_bal清零， 生成异常话单; 1-将reserve_bal提交到consume_bal，生成异常话单; 2-对reserve_bal不做操作，生成异常话单程。程序默认取值为0
IS_ACM_COMMIT = 0 
#是否无条件产生异常话单，为0时按现有逻辑（会话记录中存在MK扣费）， 1时无条件生成话单，默认为0
CreateAbnCDRAll=0 
#异常会话是否向PDE进程发起Gx RAR让用户下线消息， 0 不发送（默认） 1 发送
TearDownSessionEnable=1 
#当EnableNotifyRAR=1时，每秒向PDE进程发送的请求个数， 0表示不限制 >0时，表示每秒个数
#太多的消息会影响PDE进程处理消息能力，打开发送且限制RarTps时，当每秒超过这个值，异常回收会暂时挂起，这会影响到异常会话的回收效率 
NotifyTearDownTps=0 
#报表统计间隔，单位秒
REPORT_INTERVAL = 60 


[BSTMDeal]  
BS_INTERVAL = 30 #基站检查时间间隔 单位：S
BS_TYPE = W #BS的类型,配置为W,表示当前网络为Wimax，BS_ID取自3GPP2-BSID；配置成G，表示当前网络为GSM,BS_ID取自3GPP-User-Location-Info字段中的CELL_ID 

[SD_PROXY]  
TDF_DESTINATION_HOST = tdf.zte.com.cn  
TDF_DESTINATION_REALM = zte.com.cn  

[DUAL_ARMS_CTL]
#是否开启双臂控制功能[PCEF vs DPI]  
Enabled=N
#格式说明： PCEF索引=PCEF的OriginHost|需要双臂控制的DPI的OriginHost|…  
#其中需要双臂控制的DPI列表可以为空  
#PCEF索引PCEFx，读取配置按照连续的1,2,3…读到不连续的停止,最多20个。 
PCEF1=pcef1_origin_host|dpi1_origin_host|dpi2_origin_host
PCEF2=pcef2_origin_host|dpi3_origin_host|dpi4_origin_host
PCEF3=pcef3_origin_host 
#格式说明： DPI索引=DPI的OriginHost[*]|需要双臂控制的PCEF的OriginHost|…
#可选的*表示DPI支持RAR携带策略
#其中需要双臂控制的PCEF列表可以为空 
#DPI索引DPIx，读取配置按照连续的1,2,3…读到不连续的停止,最多20个。
DPI1=dpi1_origin_host|pcef1_origin_host
DPI2=dpi2_origin_host|pcef2_origin_host
DPI3=dpi3_origin_host*|pcef3_origin_host  

[AUTOREG]
Enable=No                             #自动注册功能开关  
AutoRegIdentifier=100001              #注册标识， PCRF节点必须唯一
RegHbtInterval=1                      #注册后维护心跳间隔
ServiceStage=5                        #本节点的服务待级[1-9] ，表示处理能力
AuthKey=ZTESoft                       #注册认证字,  注册必须配置此项，值参见OLC 服务端ACCESS表  
AutoRegIdentifierBak=100009           #备用PCRF 
UserName=ZTESoftPCRF01                #本机用户名  
HostName=AIX_IP_HOST                  #本机名称 
LogicCPU=16                           #逻辑CPU个数 
PhyMem=32768                          #物理内存 
ServerPID=179,16,310                  #OLC服务端的节点信息，参见对端的itcom.ini 中配置 

#[CDRTRANSFORM]是PCdrTransform的相关配置  
[CDRTRANSFORM] 
USE_ORIGIN_FILE_NAME= 0    
#可选配置，转换生成的话单的文件名是否直接使用原话单的文件名， 取值：0 不使用;1 使用. 默认为0 
WORK_PATH=/home/pcrf90perf/data/cdrtransform/work   
#必选配置，设置话单文件的临时操作目录  
OUTPUT_PATH =/home/pcrf90perf/data/cdrtransform/out    
#必选配置，设置提供给HotBilling系统的话单文件的输出目录  
FILE_NAME_SEQ_LEN = 6   
#用于设置输出话单文件名的序列号长度，不配置默认为6 
SEQUENCE_FILENAME = /home/pcrf90perf/etc/cdrtransseq   
#USE_ORIGIN_FILE_NAME配置为0时的必选配置，保存序列号的文件名
ATTRID_CONFIG_FILE = /home/pcrf90perf/etc/attr_id.cfg  
#必选配置，可以定制输出一些保留属性到给HotBilling的话单文件，这个选项填写配置文件名。配置文件的内容请参考zmp:806530  
MAX_RECORD_NUM=10000 
#USE_ORIGIN_FILE_NAME配置为0时的可选配置，单个输出文件中最大话单条数，默认10000。超过后生成新的文件并写入
SDP_ID=01   
#现场PCRF服务器的序号,默认为01
SITE_ID=1   
#USE_ORIGIN_FILE_NAME配置为0时的必选配置，现场标识，不同现场要求转换生成的话单文件名的格式可能不同，  
#该配置项为转换生成的话单文件名格式的个性化配置，取值:1 摩洛哥现场; 2 科特现场. 默认为1

[PCC_SYSTEM_PARAM]

# 号码前缀，格式:Prefix1,Prefix2,Prefix3  
NUMBER_PREFIX =   

# 通知方式，参考Advice_Channel表，格式:Channel1|Channel2|Channel3 
ADVICE_CHANNEL =  

# 确定CCA中的Revalidation-Time,两次CCR UPDATE的间隔时间  
VALID_TIME = 7200  

# Rx会话记录的有效时间  
RX_VALID_TIME  

# Gxx会话的有效时间  
GXX_VALID_TIME 

# 会话超时时间,填写pcc_session的失效时间  
ADD_EXP_TIME = 

# 0/1/2/3 0-OCS与PCRF融合,1-PCRF+SPR,2-PCRF包含SPR,3-融合布署,默认为0
OCS_PCRF_CONVERGENT =   

# Y/N Y-合设,N-分设  
PCEF_TDF_CONVERGENT =

# 0/1 0-PCRF不启动承载绑定,1-PCRF启动承载绑定,默认为1 
PCRF_BBF =  

#用来初始化用户的帐务周期类型 
#默认预付费类型; 默认1  
DEFAULT_PREPAID_BILLING_CYCLE_TYPE = 1 
#默认后付费类型; 默认2  
DEFAULT_POSTPAID_BILLING_CYCLE_TYPE = 2
#默认融合付费类型; 默认3
DEFAULT_HYBRID_BILLING_CYCLE_TYPE = 3  

[Scripts]
  ModifyCCRAStruct = 

#进程 SessionReportStatics 的相关配置
[SESSION_REPORT_APP]
#Gx异常会话上报统计开关，Y-打开；N-关闭；默认打开
GX_SESSION_REPORT_STATICS_ENABLE=
#Gx异常会话统计区间，格式固定(上报间隔区间|会话持续时长区间)，默认：5,10,20,30,60,120|5,10,20,30,60,120
#区间数量固定, 区间值可变, 单位分钟
GX_SESSION_REPORT_STATICS_RANGE= 5,10,20,30,60,120|5,10,20,30,60,120
#统计信息落地时间间隔，单位分钟，要大于GX_SESSION_REPORT_STATICS_RANGE中的最大区间值，默认360分钟
GX_SESSION_REPORT_OUTPUT_INTERVAL= 360
