[HOST_INFO]
BILL_HOST_TYPE=PCRF
#BILL_HOST_TYPE=RULECACHE
#DOCKER_APP_SPEC=PCRF

[general]
IsTesting=0
ipcmodulekey=

[ZKClientApp]
EnableWriteZK=0
WriteZKInterval=5
MsgOverStockNum=70

[LogZcmReporter]
#上报消息tps数，为0时不上报，默认为0
BILL_LOG_TPS=
#上报消息队列允许积压数
BILL_LOG_OVS=

[CloudCmdMgr]
#CloudCmdMgr对外暴露的ip及端口，通常为zcm中配置的网管地址，默认为127.0.0.1:2017
APP_SERVER_ADRESS = 172.16.24.63:2027
