[HUB_QMDB]
FILE_NAME=internal_interface.properties
SHADOW_PASSWORD_KEY=SHADOW_PASSWORD_KEY
URL_KEY=pcc.ds.qdb.druid.url
USERNAME_KEY=pcc.ds.qdb.druid.username
PASSWD_KEY=pcc.ds.qdb.druid.password

[PCRF_PDB]
FILE_NAME=internal_interface.properties
SHADOW_PASSWORD_KEY=SHADOW_PASSWORD_KEY
URL_KEY=pcc.ds.pdb.druid.url
USERNAME_KEY=pcc.ds.pdb.druid.username
PASSWD_KEY=pcc.ds.pdb.druid.password

[CdrInDB_PDB]
FILE_NAME=internal_interface.properties
SHADOW_PASSWORD_KEY=SHADOW_PASSWORD_KEY
URL_KEY=pcc.indb.ds.pdb.druid.url
USERNAME_KEY=pcc.indb.ds.pdb.druid.username
PASSWD_KEY=pcc.indb.ds.pdb.druid.password
DB_TYPE=pcc.indb.ds.pdb.druid.dbtype

[PCRF_QMDB]
FILE_NAME=internal_interface.properties
SHADOW_PASSWORD_KEY=SHADOW_PASSWORD_KEY
URL_KEY=pcc.ds.qdb.druid.url
USERNAME_KEY=pcc.ds.qdb.druid.username
PASSWD_KEY=pcc.ds.qdb.druid.password
